body {
	background-color: white;
	color: black;
}

h1, h2, h3,  #footer * { 
    color: #70709f; 
    clear: left;
}

#thought {
    font-style: italic;
    display: inline;
}

#code {
    background-color: #dddddd;
    color: #111111;
    display: inline;
    padding-left: 1ex;
    padding-right: 1ex;
}

#commit {
    background-color: #ffdddd;
	border: 2px solid;
    color: #000011;
    display: inline;
    padding-left: 1ex;
    padding-right: 1ex;
}

#footer {
	background-color: #ececef; 
	border-color: #c0c0ff;
	color: inherit;
	border-top: 2px solid;
	border-bottom: 2px solid;
	margin-bottom: 0.2em;
	padding-top: 0.75ex;
	padding-bottom: 0.75ex;
	min-height: 4.7ex;
	clear: left;
    text-align: center;
}

#footer * {
  background-color: inherit;
  font-size: 92%;
}

#announcement {
    background-color: #ececef; 
    border-color: #c0c0ff;
    color: inherit;
    border-top: 2px solid;
    border-bottom: 2px solid;
    margin-bottom: 0.2em;
    padding-top: 0.75ex;
    padding-bottom: 0.75ex;
    /* min-height: 4.7ex; */
    clear: left;
}

#announcement * {
  background-color: inherit;
  font-size: 92%;
}

.channel { 
    color: inherit;
    /*border-color: #c0c0ff;
    border-bottom: 1px solid;*/
    clear: left;
}

.channel *.description { 
    border-color: #c0c0ff;
    /* color: #687010; */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1.9em;
    margin: 0;
    clear: left;
    font-size: 90%;
}

.channel *.access {
    padding: 0;
    display:inline;
}

.channel h3 { 
    padding: 0;
    font-size: 130%;
    display: inline;
    margin-top: 1ex;
}

.channel *.status {
    font-size: 90%;
    font-style: italic;
    color: #777777;
    margin: 0 0.7em;
}

.results {
    list-style: none;
    padding:0;
}

.results li {
    margin: 1.3em 0;
}

tr, td {
	vertical-align: top;
}

.odd {
    text-decoration: none;
	background-color: #efefef;
}

.special {
	font-size: 70%;
}
.special * {
	color: gray;
}

.chat {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #efefef;
}

.chat tr { border-top: 1px solid #efefef; }
.chat tr.head, .chat tr.dark.new { border-top-style: none; }
.chat tr.dark { border-top: 1px solid #dfdfdf; }

.chat td, th {
    font: 100% verdana,arial,geneva,helvetica,sans-serif;
    /* font-family: Consolas, "Lucida Console", "Courier New", monospace; */
    padding: 0.2em 0.4em;
}

.chat th { border-bottom: 1px solid #C0C0C0; }

.chat .nick {
    text-align: right;
    border-right: 1px solid #C0C0C0;
    font-weight: bold;
}

.chat .time { border-left:  1px solid #efefef; }
.chat .message  { border-right: 1px solid #efefef; line-height: 1.3em; }
.chat .act  { font-style: italic; }

.log-index li {
    display: inline;
}


abbr { cursor: help; }

.search_found {
	font-weight: bold;
}

