// Import required modules.
@charset "utf-8";

// To override any of these variables, just set them before importing Bulma. 
$primary: #AA133F;
$navbar-red-delimiter: #7C0E2E;

$border: #BFBFBF;
$border-light: #DEDEDE;

$input-placeholder-color: #575757;

$menu-item-hover-background-color: $border-light;

// Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/derived-variables";
@import "../node_modules/bulma/sass/utilities/functions";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

// Customize Bulma variables
// Disable the widescreen breakpoint
// $widescreen-enabled: false;

// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px;

$fullhd: 1180px + (2 * $gap);

$sidebar-width: 300px;

$section-padding: 2rem 1.5rem;

// Typography
$family-sans-serif: "Lato", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace: monospace;
$render-mode: optimizeLegibility;

// Colors override

$scheme-main: #FAFAFA;
$scheme-main-bis: #F7F9FB;
$scheme-main-ter: #F5F5FE;

$body-background-color: $scheme-main-ter;

// Navbar
$navbar-background-color: $primary;
$navbar-height-size: 3.125rem;
$navbar-mobile-height: 3rem;

$navbar-item-color: $text-invert;
$navbar-item-hover-color: $text-invert;
$navbar-item-hover-background-color: $navbar-red-delimiter;

$navbar-breakpoint: $desktop;

$footer-color: true;
$footer-padding: 1.5rem 1.5rem 2rem;

// Cards
$card-media-margin: 0.5rem;
// $card-shadow: 0 0.5em 0.5em -0.125em rgba($scheme-invert, 0.05), 0 0px 0 1px rgba($scheme-invert, 0.02);
$card-shadow: unset;

// Disable column gap, because we handle gaps manually
$column-gap: 0;

// $tabs-toggle-link-active-background-color: $grey-dark;

// Initial Bulma stuff
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";

// Layout
@import "../node_modules/bulma/sass/layout/footer.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";

// Components
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/dropdown.sass";
@import "../node_modules/bulma/sass/components/level.sass";
// @import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/menu.sass";
@import "../node_modules/bulma/sass/components/tabs.sass";

// Elements
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/other.sass"; // delete button, block heading
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/table.sass";

// Helpers
@import "../node_modules/bulma/sass/helpers/typography.sass";
@import "../node_modules/bulma/sass/helpers/visibility.sass";
@import "../node_modules/bulma/sass/helpers/color.sass";
@import "../node_modules/bulma/sass/helpers/spacing.sass";

@import "../node_modules/bulma/sass/grid/columns.sass";

// Import our files
@import 'sidebar';

// Import extensions
@import '../node_modules/bulma-tooltip/src/sass/index.sass';

// Calendar
$calendar-header-background-color: $primary;
@import '../node_modules/bulma-calendar/src/sass/index.sass';

// Create mixin to fix word-wrap when needed
@mixin fix-word-wrap {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

// Datepicker styles
.navbar {
  .datepicker {
    .datepicker-nav, .datapicker-nav.is-danger {
      background-color: $calendar-header-background-color;

      .button.is-text:active, .button.is-text.is-active {
        background-color: $white;
      }

      .button.is-text:focus, .button.is-text.focus {
        background-color: $primary;
      }
    }

    .datepicker-month, .datepicker-year, .datepicker-day {
      color: $text;
    }

  }

  .datetimepicker .datepicker-body .datepicker-weekdays {
    .datepicker-date {
      color: $text-light;
    }
  }

  // Inactive days
  .datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date:not(.is-current-month) {
    background-color: $border-light;

    .date-item {
      color: $text-light;
    }
  }

}

// Our site custom styles

// Stick footer to the bottom
body {
  display: flex;
  min-height: calc(100vh);
  flex-direction: column;
}

#wrapper {
  flex: 1;
}

.footer {
  max-height: 52px;
  border-top: 1px solid $border;
  padding: 1rem 1.5rem 2rem;

  @include mobile {
    max-height: 250px;
    padding-top: 0.5rem;
  }

  .level-right .level-item {
    a {
      margin-left: 5px;
    }
    @include mobile {
      flex-wrap: wrap;
    }
    
  }
}

.container-footer {
  padding-bottom: 1rem;
}

@include until($widescreen) {
  // We have long footer, so let's split it
  .footer {
    max-height: 82px;
    padding: 0.5rem 1.5rem 2rem;
    .level, .level-left, .level-right {
      display: block;
    }
  }
}

// @include until(720px) {
//   .footer {
//     max-height: 100%;
//   }
// }


// Navbar (site header) styles
.navbar {
  .navbar-channels-dropdown {
    margin-left: -0.5rem;
  }

  .navbar-channels-dropdown, .navbar-browse-dropdown, .navbar-gist-dropdown {
    .dropdown-content {
      max-height: 450px;
      min-width: 220px;
      max-width: 300px;
    }
  }

  .navbar-channels-dropdown {
    .dropdown-item {
      overflow-y: auto;
    }
  }

  .navbar-browse-dropdown, .navbar-gist-dropdown {
    .dropdown-content {
      overflow-y: auto;
    }
  }

  // Align dropdowns
  .navbar-gist-dropdown {
    margin-left: -4rem;
  }

  .navbar-browse-dropdown {
    margin-left: -2rem;
  }

  // Align Gist dropdown menu on small screens
  @include until($desktop) {
    .navbar .navbar-gist-dropdown {
      margin-left: -10rem;
    }
  }

  @include from($desktop) {
    @include until($widescreen) {
      .navbar .navbar-gist-dropdown {
        margin-left: -7rem;
      }
    }
  }

  .navbar-item {
    font-size: 1.125rem; 
    font-weight: 700;
  }

  .navbar-delimiter {
    height: 100%;
    width: 1px;
    background-color: $navbar-red-delimiter;
  }

  .navbar-end {
    .navbar-channels {
      width: $sidebar-width;
      display: flex;
      justify-content: space-between;

      border-left: 1px solid $navbar-red-delimiter;
    }

    .icon-text.channel-list {
      margin-left: 50px;
    }
  }

  .navbar-switcher {
    max-width: 285px;
    @extend .is-hidden-mobile;
    position: relative;

    @include from($tablet) {
      @include until($desktop) {
        position: absolute;
        top: 2px;
        left: 200px;
      }
    }
  }

  .navbar-start {
    justify-content: flex-end;
    margin-right: 0;
    margin-left: auto;
  }

  #navbar-left-toggle {
    width: $sidebar-width;

    border-right: 1px solid $navbar-red-delimiter;

    .navbar-sidebar-btn {
      width: inherit;
    }

    @extend .is-hidden-touch;
  }

  .navbar-filter-settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    // margin-left: 0;

    // .icon-sidebar-state {
    //   position: absolute;
    //   right: 16px;
    // }

    // .icon-text.filter {
    //   margin-left: 90px;
    // }

    // border-right: 1px solid $navbar-red-delimiter;

    // .navbar-filter {
    //   width: inherit;
    // }
  }

  .navbar-center {
    display: flex;
    flex-direction: row;
  }

  // Fix camelia image downscaling in Chrome
  .camelia-image {
    image-rendering: -webkit-optimize-contrast;
  }

  .date-dropdown-button {
    background-color: unset;
    border: unset;
    
  }

  // Adjust tooltips in navbar
  #navbar-left-toggle:hover, #navbar-right-toggle:hover  {
    &::before {
      font-weight: $weight-bold;
    }
  }

  @include until($widescreen) {
    #navbar-left-toggle:hover {
      &::before {
        margin-left: 3rem;
      }
    }

    #navbar-right-toggle:hover {
      &::before {
        margin-left: -3rem;
      }
    }
  }

  @include touch {
    .navbar-search-link:hover {
      &::before {
        margin-left: -3rem;
      }
    }
  }

  .navbar-current-channel-name, .navbar-browse-label, .navbar-gist-label {
    color: $white;
  }

  #mobile-forms {
    margin-top: 0.25rem;
    border-top: 1px solid $navbar-red-delimiter;
    padding: 1rem;
    background: $white;

    .title, strong {
      // color: $text-invert;
    }

    #tab-content .tab-block {
      display: none;

      margin: 0 auto;
    }

    #tab-content .tab-block.is-active {
      display: block;
    }

  }

  // Display sidebar toggle icons without label in navbar from table until widescreen layout
  @include from($tablet) {
    @include until($widescreen) {
      #navbar-left-toggle, #navbar-right-toggle, .navbar-end .navbar-channels {
        width: 50px;
      }
      .navbar-sidebar-btn {
        width: 50px;

        .icon-sidebar-state, .sidebar-title, .sidebar-arrow {
          display: none;
        }
      }

      .navbar-filter-settings .icon-text.filter,
      .navbar-end .icon-text.channel-list {
        margin-left: 0;
      }

      .navbar-item-title {
        display: none;
      }
    }
  }
}

// Add extra padding for secondary navbar on mobile
body.has-navbar-fixed-top.has-mobile-navbar-fixed-top {
  @include mobile {
    padding-top: calc(#{$navbar-height-size} + #{$navbar-mobile-height});
  }
}

// Secondary navbar (for mobile)
nav.secondary-navbar {
  @extend .is-hidden-tablet;

  &.is-fixed-top {
    top: $navbar-height-size;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 25;
  }

  // TODO: Valign to middle
  height: $navbar-mobile-height;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  border-bottom: 1px solid $border-light;
  background: $grey-lighter;
  padding-top: 0.35rem;

  .button {
    min-width: 50px;
    height: 35px;
  }

  .date-dropdown-button {
    padding-left: 1.5rem;
    padding-right: 1.75rem;
  }

  .date-dropdown-button > span {
    // background: $primary;
    color: $text;
  }

  .dropdown-menu {
    left: -40px;
  }
}

// Message logs styles
#message-log {
  // Table
  .table {
    border: 1px solid $border;
  }
  
  .column-time {
    text-align: right;
    padding-right: 0;
  }

  .column-buttons {
    padding: 0em 0em;
    // text-align: right;
  }

  .column-author {
    max-width: 15vw;
  }

  .column-code {
    font-family: $family-monospace;
  }

  .column-camelia {
    font-family: $family-monospace;
  }

  // Handle very long words/links
  .column-message  {
    @include fix-word-wrap;
  }

  
  .message-log-block {
    margin-bottom: 1rem;
  }

  // Full width time delimiter
  // NOTE: not using in current design
  // .time-delimiter {
  //   display: flex;
  //   align-items: center;
  //   text-align: center;
  //   line-height: 1.2;

  //   &::before, &::after {
  //     content: '';
  //     flex: 1;
  //     border-bottom: 1px solid $border-light;
  //   }

  //   &:not(:empty) {
  //     ::before {
  //       margin-right: .25em;

  //     }
  //     ::after {
  //       margin-left: .25em;
  //     }
  //   }
  // }

  // .time-delimiter-data {
  //   padding: 0 0.5rem;
  //   font-size: 0.875rem;
  //   font-weight: $weight-semibold;
  // }

  .msg-log-title {
    margin-bottom: 0.5rem;
  }

  .msg-log-btn {
    color: $text;

    &:hover {
      color: $primary;
    }
  }

  .msg-mobile-dropdown {
    margin-left: -9rem;
  }
}


// Responsiveness
@import "../node_modules/bulma/sass/utilities/mixins";

@include mobile {
  // Disable tooltip on mobile
  [data-tooltip] {
    &:not(.is-loading),
    &:not(.is-disabled),
    &:not([disabled]) {
      &::before, &::after {
        display: none;
      }
    }
  }

  // Do not add navbar-menu padding on mobile
  .navbar-menu {
    padding: 0;
  }

  // Don't display filter and search setting on mobile
  .navbar-filter-settings, .navbar-end .navbar-channels {
    display: none;
  }

  // Disable navbar delimiter on mobile
  .navbar-delimiter {
    display: none;
  }
}

// Enable flex for navbar blocks
@include desktop {
  .navbar-filter-settings, .navbar-end .navbar-channels {
    display: flex;
  }
}

// Date switcher styles
.msg-log-date-switcher {
  .date-dropdown-button {
    // background-color: unset;
    // border: unset;
    width: 100%;
    height: 30px;
    font-weight: $weight-bold;
    padding: 0 0.5rem;
    color: $white;
  }

  .today-day {
    margin: 0 1rem;
  }

  &.centered {
    display: flex;
    justify-content: center; 

    .button {
      margin: 0 0.25rem;
    }
  }

  .dropdown-content {
    width: 250px;
  }
}

// Define button sizes to avoid misalignment
.navbar {
  div.msg-log-date-switcher > a > button.button {
    height: 30px;
    width: 25px;
  }
}

@include tablet {
  // #navbar-left-toggle {
  //   display: none;
  // }

  // Do not add extra padding to navbar-menu
  .navbar-menu {
    padding: 0;
  }
}

// Columns for sidebar 
.column.is-narrow {
  width: $sidebar-width;
  padding: unset;
  
}

// Correct color for hamburger menu
a.navbar-burger:hover {
  color: $scheme-main-bis;
  background-color: $navbar-red-delimiter;
}

// Homepage styles
.section.homepage {

  .thread-years {
    .column:first-child {
      padding-right: 0.5rem;
    }

    .column:last-child {
      padding-left: 0.5rem;
    }


    .vline:last-child {
      display: none;
    }

    @include mobile {
      .year-block:not(:last-child) {
        margin: 1rem 0;
      }

      .year {
        display: block;
        width: 100%;
        text-align: center;
        padding: 0.5rem;
        border-bottom: 1px solid $border-light;
      }

      // Display links as blocks on mobile until 480px
      a.month {
        display: inline-block;
        min-width: 50px;
        text-align: center;
        padding: 0.5rem;
      }

      .vline {
        display: none;
      }
    }

    @include until($desktop) {
      a.month {
        display: inline-block;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
      }
    }
  }

  // Thread styles
  @include mobile {
    .thread-years p {
      margin-bottom: 1rem;
    }
  }

  // Thread header
  .thread-header {
    display: flex;
    align-items: center;

    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $border;
    // font-size: 1.125rem;
    font-weight: bold;

    .control.has-icons-right .icon.is-right {
      height: 28px;
      width: 28px;
    }

    .title {
      margin-bottom: 0;
    }

    @include mobile {
      display: block;
    }
  }

  // Vertical delimiter
  .v-div {
    background-color: $text-light;
    height: 1rem;
    width: 2px;
    margin: 0 0.25rem;

    @include mobile {
      display: none;
    }
  }

  a.thread-link {
    font-weight: $weight-bold;
  }

  .thread-search-field, .thread-search-field .input {
    margin-left: 0.25rem;
    height: 28px;

  }

}

#main-container hr {
  height: 1px;
  border-color: $border;
  color: $border;
  background-color: $border; 
  
}

// Style homepage container
.container.homepage {
  background: $scheme-main;
  border: 1px solid $border;
  padding: 1rem;
  border-radius: 3px;
}

@include mobile {
  // Disable extra padding on mobile for main container
  .section.homepage, .section.index {
    padding: 0;
  }

  .section.day {
    padding: 1rem 0;

    #message-log .table {
      border: unset;
      border-bottom: 1px solid $border;
    }
  }

  .container.homepage {
    border-radius: 0;
    border: 0;
  }
}

// Search page
.container.search {
  .search-result-date {
    text-align: center;
    font-weight: $weight-bold;
  }
}

.section.index {
  .block-years {
    .year {
      text-align: center;

      // &:not(:first-child) {
      margin-top: 1rem;
      // }
    }
  }

  .level-top {
    word-wrap: break-word;
    word-break: break-word;
    padding: 0 1rem;

    .level-item {
      flex-grow: 0;
    }

    // Align dropdown to center
    @include from($fullhd) {
      .level-item-center {
        flex: 0 1 auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    // Don't mess with aligment because of Bulma styles
    .title {
      margin-bottom: 0;
    }

    .subtitle {
      margin-top: 0;
    }

    // Otherwise it will overlap with with other level
    .level-dropdown {
      z-index: 30;
    }

    @include until($tablet) {
      .level-dropdown {
        margin-bottom: 1rem;
      }

      padding: 0 0.5rem;
    }
  }

  .channel-name-dropdown {
    .dropdown-content {
      max-height: 400px;
      min-width: 220px;
      max-width: 300px;
      overflow-y: scroll;
    }
  }


  .month-block {
    display: block;
  }

  .month-log {
    // width: 100%;
    display: inline-flex;
    // width: fit-content;
    flex-wrap: wrap;
    // width: min-content;

    @include mobile {
      margin-bottom: 1rem;
    }

    .day, .month {
      // display: inline-;
      border: 1px solid $border;
      // width: 1.25rem;
      font-size: 0.875rem;
      min-width: 32px;
      padding: 0.25em 0.5em;
      text-align: center;
    }

    .day {
      color: $text-light;
      &:hover {
        background-color: $border-light;
      }
    }

    a .day {
      color: $link;
      font-weight: $weight-bold;

      &:hover {
        color: $link;
      }
    }

    .day.empty {
      background-color: $border-light;
    }

    .month {
      width: 96px;
      font-weight: bold;
      text-align: center;

    }
  }

}

@include mobile {
  section.search {
    padding: 1rem 0;
  }

  .section {
    .title:not(.is-spaced) + .subtitle {
      margin-top: 0;
    }
  }

}

.level {
  a.button.is-text {
    color: $link;
  }
}


// Table with messages
#message-log {
  .table :not(tr.special-nick) {
    border-top: none;
    border-bottom: none;
  }

  .table tr.special-same-nick {
    margin-top: 0;
    padding-top: 0;
  }

  .table tr.special-selected {
    background-color: #eeeeee;
  }

  .table tr.special-topic {
    text-align: center;
    border-top: 2px solid $border;
    border-bottom: 2px solid $border;
  }

  .table tr.special-date {
    text-align: center;
    border-top: 2px solid $border;
    border-bottom: 2px solid $border;
    font-size: 125%;
    font-weight: $weight-bold;
    color: $grey-darker;
  }

  .table tr.special-nick {
    font-weight: $weight-bold;
  }

  .table tr.special-system {
    .desktop-buttons {
      text-align: right;
      padding-right: 0.75rem;
    }
  }

  .table tr.special-test {
    border-left: 4px solid $primary;
    border-top: 1px solid $text-strong;
    border-right: 1px solid $text-strong;
    background-color: #ddffdd;
    font-weight: $weight-semibold;
    color: $text-strong;
  }

  .table tr.special-camelia {
    border: 1px solid $border;
    // background-color: #eeddff;
    background-color: #f8f1ff;
    color: $text-strong;
  }

  .table tr.special-commit {
    border-left: 4px solid $primary;
    border-top: 1px solid $text-strong;
    border-bottom: 1px solid $text-strong;
    border-right: 1px solid $text-strong;
    background-color: #ffdddd;
    font-weight: $weight-semibold;
    color: $text-strong;
  }

  .table tr.special-code {

    border-left: 4px solid $info;
    background-color: #ffeedd;
    font-weight: $weight-bold;
    font-style: oblique;
    color: $text-strong;
  }

  .table tr.special-commit,
  .table tr.special-test,
  .table tr.special-code {
    .msg-mobile-dropdown {
      .button.is-text {
        background-color: $scheme-main;
      }
    }
  }

  .message-table {
    // Fix jumps
    tr {
      scroll-margin-top: $navbar-height-size;
    }

    // Display table cells as blocks on mobile until 480px
    @include until(480px) {


      td {
        width: 100%;
        display: block;

        &.column-time {
          text-align: center;
          font-weight: $weight-semibold;
        }
        
        &.column-author {
          text-align: left;
        }
        
        &.column-code {
          font-family: monospace;
        }

        &.column-buttons {
          text-align: left;
        }

      }

      .msg-mobile-dropdown {
        margin-left: 0;
      }
    }
  }
}

// Adjust level on small screens
.level.is-mobile {
  @include mobile {
    overflow-x: scroll;
  }

  @include until(400px) {
    display: block;
  }


  .level-item {
    @include until(400px) {
      display: block;
    }
  }

  .level-item:not(:last-child) {
    margin-right: 0;


  }

  .button {
    padding-left: 0.5em;
    padding-right: 0.5em;

    @include until(400px) {
      display: block;
    }
  }
}

// Align sidebar on search page
@include from(1800px) {
  .container.has-sidebar {
    left: -150px;
  }
}

// Error pages
.error-title {
  font-size: 5rem;
  font-weight: $weight-bold;

  @include mobile {
    font-size: 3rem;
  }
}

.error-search-field, .error-select-block, .error-home-link {
  @include touch {
    margin-top: 1rem;
  }
}

.error-image {
  max-width: 300px;
  max-height: 300px;

  @include mobile {
    max-height: 300px;
    margin-top: 2rem;
  }

  
  @include tablet {
    max-height: 300px;
    margin-top: 2rem;
  }
  
  @include until(480px) {
    max-width: 100%;
  }
}

@include until(480px) {
  .error-hero .hero-body {
    padding: 0.5rem;
  }

  .section.day {
    padding: 0;
  }

  .special-topic {
    @include fix-word-wrap;
  }
}

// Change template structure

// Disable extra padding on mobile for main container
.section.homepage, .section.index, .section.day {
  padding: 0;
}

@include until($tablet) {
  #message-log {
    padding-left: 0;
    padding-right: 0;
  }
}

@include from($tablet) {
  #main-container.homepage, #main-container.day {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .section.homepage, .section.index {
    .column-middle {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
}
